body {
    background: #f1f5f9;
}

#editButton,
#saveButton,
#highlightBtn {
    width: 100px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}

#editButton {
    background: #aaa2f1;
    margin-bottom: 10px;
}

#saveButton {
    background: #facc15;
    margin-bottom: 10px;
}

#highlightBtn {
    background: #aae89d;
}

